$light-color-primary: #00bcd4;
$light-color-bg: #f9fafb;
$light-color-text: #000;
$light-color-component: #fff;
$light-color-component-border: #eee;
$light-color-component-text: #646464;

$dark-color-primary: #00bcd4;
$dark-color-bg: #222;
$dark-color-text: #fff;
$dark-color-component: #090909;
$dark-color-component-border: #000;
$dark-color-component-text: #646464;

:root {
    --background-color: #{$light-color-bg};
    --text-color: #{$light-color-text};
    --component-color: #{$light-color-component};
    --component-color-border: #{$light-color-component-border};
    --component-color-text: #{$light-color-component-text};
    --component-color-text-accent: #{$light-color-primary};
}

[data-theme="dark"] {
    --background-color: #{$dark-color-bg};
    --text-color: #{$dark-color-text};
    --component-color: #{$dark-color-component};
    --component-color-border: #{$dark-color-component-border};
    --component-color-text: #{$dark-color-component-text};
    --component-color-text-accent: #{$dark-color-primary};
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}