form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        background-color: var(--input);
        color: var(--input-text);
    }
}

.form-message {
    font-size: 13px;
    border: 1px solid;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}